body {
    background-color: #3a3a3a;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#title {
    padding: 0.5em;
    font-family: 'Montserrat', sans-serif;
}

#game {
    color: white;
    text-align: center;
    padding: 1em;
}

#startScreen {
    margin-top: 20%;
    margin-bottom: 10px;
    right: 0;
    left: 0;
}

#square {
    border: 1px solid #888;
    width: 100px;
    height: 100px;
    background-color: white;
}
