:root {
    --red: #ff0000;
    --blue: #238aff;
}

body {
    background-color: #3a3a3a;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#title {
    /*padding: 0.5em;*/
}

.whiteText {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#game {
    padding: 1em;
}

#startScreen {
    /*text-align: center;*/
    /*margin-top: 20%;*/
    margin-bottom: 10px;
    right: 0;
    left: 0;
}

#scoreScreen {
    visibility: hidden;
}

#mathsScreen {
    /*background-color: whitesmoke;*/
    padding: 1em;
    visibility: hidden;
}

.square {
    width: 90px;
    height: 90px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.square-red {
    background-color: var(--red);
    -webkit-filter: drop-shadow(0 0 10px var(--red));
    filter: drop-shadow(0 0 10px var(--red));
}

.square-blue {
    background-color: var(--blue);
    -webkit-filter: drop-shadow(0 0 10px var(--blue));
    filter: drop-shadow(0 0 10px var(--blue));
}

#mover {
    width: 100px;
    height: 100px;
    background-color: black;
}
.arrow {
    margin: 10px;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 25px solid var(--red);
    border-bottom: 25px solid transparent;
    -webkit-filter: drop-shadow(0 0 10px var(--red));
    filter: drop-shadow(0 0 10px var(--red));
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 25px solid var(--blue);
    border-bottom: 25px solid transparent;
    -webkit-filter: drop-shadow(0 0 10px var(--blue));
    filter: drop-shadow(0 0 10px var(--blue));
}